.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
}

.nav_container{
  display: flex;
  height: 56px;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
  min-width: 768px;
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 1;
  :global{
    .wrap{
      display: flex;
      align-items: center;
      position: relative;
    }
    .logo-cont{
      font-size: 28px;
      a{
        text-decoration: none;
      }
      padding-right: 20px;
    }
    .mr-color-picker{
      position: absolute !important;
      right: 56px;
      top: 66px;
      z-index: 1;
    }
    .user-cont{
      margin: 0 10px;
    }
    .r-item{
      height: 56px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      &:hover{
        background-color: #f5f5f5;
      }
    }
  }
}