
.login_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
  h1{
    color: #fff;
    padding-bottom: 40px;
  }
}
.login_form_wrap{
  background: #fff;
  border-radius: 10px;
  padding: 10px !important;
  width: 400px;
  :global(.login-form){
  }
  :global(.login-form-forgot) {
    float: right;
  }
  :global(.login-form-button) {
    width: 100%;
  }
  :global(.register-form){
  }
}